.rect {
  fill: #bcd2c8;
  strokeWidth: 3;
  stroke: pink;
}
.form-svg .rect-right-side {
  fill: pink;
  strokeWidth: 3;

}

.rect-svg-border {
  fill: pink;
  strokeWidth: 3;
}

.anh1 {
  color: red;
}

/* .circle {
  fill-opacity: 0.3;
} */

.rect.small {
  fill: pink;
  rx: 20;
  ry: 20;
}

.ui.grid>* {
  padding: 1px !important
}

.circle {
  fill: #d9a095;
  stroke: #a36167;
  stroke-width: 4px;
  z-index: 1;
  /* #f6f4f1 */
}
/*
.circle[occupied] {
  fill: black;
} */

.table-order {
  text-align: center;
  color: red;
}

/* .open-tables {
  height: auto;
  overflow-y: scroll;
} */

.reservations {
  /* border: 5px solid red; */
  height: 500px;
  overflow-y: scroll;
  padding: 5px;
}

.foh-side {

  padding: 50px;
}

 .whole-grid {
 /* border: 5px solid black; */
 padding: 5px;
 margin: 5px;
 height: 629px;
}

.whole-div {
  border: 20px solid pink;
  height: 638px;
  border-radius: 30px;
  /* margin: 15px; */
}

.menu-reservation {
  color: red;
}

.form {

/* padding: -20px; */
  /* margin: -5px; */
  height: 600px;
  /* outline: 20px solid red; */
  border: 25px dotted black;
  position: relative;
  /* z-index:10; */
}
.form-svg {
  position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 600
}

.table-svg {
  position: absolute;
    left: 0;
    top: 0;
height: 600
}

.waitlist-name {
  padding-top: 100px;
}
.ui.button.nav-button-right {
  background-color: #d9a095;
}

.ui.button {
  background-color: #d9a095;
}

.seated-cards {
  max-height: 260px;
  height: auto;
  overflow-y: scroll;
  padding-left: 15px;
  margin-top: -15px;
}
.open-cards {
  max-height: 290px;
  overflow-y: scroll;
  padding-left: 15px;
}
.ui.form.customer-order {
  height: auto;
  border: none;
}
.ui.card.customer-card {
  border: 5px solid #d9a095;
  border-radius: 10px;
}

.ui.negative.button.btn-clear-no {
  background-color: #c64d57;
}

.ui.button.positive.right.labeled.btn-clear-yes {
  background-color: #8cd8b6;
}

.customer-card-list {
  max-height: 490px;
  overflow-y: scroll;
}

.ui.button.table-btn-add {
  background-color: #8cd8b6;
}

.ui.button.table-btn-clear {
  background-color: #e5707a;
}

.ui.button.waitlist-btn-cancel {
  background-color: #e5707a;
}

.ui.button.reservation-btn-cancel {
  background-color: #e5707a;
}
