.rect {
  fill: #bcd2c8;
  strokeWidth: 3;
  stroke: pink;
}
.form-svg .rect-right-side {
  fill: pink;
  strokeWidth: 3;

}

.rect-svg-border {
  fill: pink;
  strokeWidth: 3;
}

.anh1 {
  color: red;
}

/* .circle {
  fill-opacity: 0.3;
} */

.rect.small {
  fill: pink;
  rx: 20;
  ry: 20;
}

.ui.grid>* {
  padding: 1px !important
}

.circle {
  fill: #d9a095;
  stroke: #a36167;
  stroke-width: 4px;
  z-index: 1;
  /* #f6f4f1 */
}
/*
.circle[occupied] {
  fill: black;
} */

.table-order {
  text-align: center;
  color: red;
}

/* .open-tables {
  height: auto;
  overflow-y: scroll;
} */

.reservations {
  /* border: 5px solid red; */
  height: 500px;
  overflow-y: scroll;
  padding: 5px;
}

.foh-side {

  padding: 50px;
}

 .whole-grid {
 /* border: 5px solid black; */
 padding: 5px;
 margin: 5px;
 height: 629px;
}

.whole-div {
  border: 20px solid pink;
  height: 638px;
  /* margin: 15px; */
}

.menu-reservation {
  color: red;
}

.form {

/* padding: -20px; */
  /* margin: -5px; */
  height: 600px;
  /* outline: 20px solid red; */
  border: 25px dotted black;
  position: relative;
  /* z-index:10; */
}
.form-svg {
  position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 600
}

.table-svg {
  position: absolute;
    left: 0;
    top: 0;
height: 600
}

.waitlist-name {
  padding-top: 100px;
}
/* .form.res-form { */

/* padding: -20px; */
  /* margin: -5px; */
  /* height: 600px; */
  /* outline: 20px solid red; */
  /* border-top: 25px dotted #f6f4f1; */
  /* border-bottom: 25px dotted #f6f4f1; */
/* } */

/* .outer-res {
  border: 20px solid green;
  margin: 10px;
} */
/* .form:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid blue;
  outline: 5px solid red;
} */
